* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  /* border-box: 테두리를 기준으로 크기 설정 
     initial: 기본값으로 설정
     content-box: 콘텐츠 영역을 기준으로 크기 설정
     inherit: 부모 요소의 속성값을 상속
  */
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.brand {
  letter-spacing: 0.2rem;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: crimson;
}

/* Header section */
.navbar {
  position: fixed;
  background-color: #29323c;
  width: 100%;
  padding: 10px 0;
  top: 0;
  z-index: 1000;
}

.container {
  margin: auto;
  padding: 0 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}

.navbar .nav-list ul.active {
  left: 0%;
}

.navbar .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 20px;
  display: block;
}

.navbar .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 13rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}

.navbar .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}

.navbar .nav-list ul li:hover a {
  color: crimson;
}

.navbar .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}

.navbar .hamburger:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
}

.navbar .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}

.navbar .hamburger .bar::after,
.navbar .hamburger .bar::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}

.navbar .hamburger .bar::after {
  top: 8px;
}

.navbar .hamburger .bar::before {
  bottom: 8px;
}

.navbar .hamburger.active .bar::before {
  bottom: 0;
}

.navbar .hamburger.active .bar::after {
  top: 0;
}

/* Home Section */
.home {
  width: 100%;
  height: 100vh;
  background: black;
}

.home::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/bg.jpg) no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  max-width: 95vw;
  text-align: center;
  padding: 0 40px;
}

.content h1 {
  color: crimson;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin-bottom: 20px;
}

.content p {
  color: white;
  margin-bottom: 20px;
}

.content a {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: crimson;
  border: 2px solid crimson;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}

.content a:hover {
  color: white;
  background: crimson;
}
*/

/* About Section */

/* End About Section */

/* Media Query */
@media screen and (max-width: 900px) {
  #header .hamburger {
    display: none;
  }

  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }

  #header .nav-list ul li {
    display: inline-block;
  }

  #header .nav-list ul li a {
    font-size: 2rem;
  }

  #header .nav-list ul a:after {
    display: none;
  }

  /* Home */
  .home .content h1 {
    font-size: 3.5rem;
  }

  .home .content a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .home .content h1 {
    font-size: 3rem;
  }

  .home .content a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .home .content h1 {
    font-size: 2.5rem;
  }

  .home .content a {
    font-size: 1.2rem;
  }
}
/* End  Media Query */
