* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  /* border-box: 테두리를 기준으로 크기 설정 
     initial: 기본값으로 설정
     content-box: 콘텐츠 영역을 기준으로 크기 설정
     inherit: 부모 요소의 속성값을 상속
  */
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

.container {
  margin: auto;
  padding: 0 20px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  color: black;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}

.brand {
  letter-spacing: 0.2rem;
}

.brand h1 {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
}

.brand h1 span {
  color: crimson;
}

/* Navbar Section */
.navbar {
  position: fixed;
  width: 100%;
  padding: 10px 0;
  top: 0;
  z-index: 1000;
  transition: 0.3s linear;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-toggler {
  background: none;
  width: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  outline: none;
  z-index: 999;
  display: none;
}

.menu-toggler span {
  display: block;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  position: relative;
  transition: 0.3s linear;
}

.navbar-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.2s linear;
}

.navbar-menu a:hover {
  color: #48dbfb !important;
}

/* Home Section */
.home {
  width: 100%;
  height: 100vh;
  background: black;
}

.home::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./images/bg.jpg) no-repeat;
  background-size: cover;
  opacity: 0.3;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  max-width: 95vw;
  text-align: center;
  padding: 0 40px;
}

.content h1 {
  color: crimson;
  font-size: 5rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  margin-bottom: 20px;
}

.content p {
  color: white;
  margin-bottom: 20px;
}

.content a {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  color: crimson;
  border: 2px solid crimson;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.4s linear;
}

.content a:hover {
  color: white;
  background: crimson;
}

/* About Section */

/* End About Section */

/* Media Query */
@media screen and (max-width: 980px) {
  /* Navbar */
  .menu-toggler {
    display: block;
  }

  .navbar-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #353b48;
    top: 0;
    right: -100%;
    max-width: 400px;
    padding: 80px 50px;
    transition: 0.3s linear;
  }

  .navbar-menu a {
    display: block;
    font-size: 30px;
    margin: 30px 0;
  }

  .sticky .navbar-menu {
    background-color: #f1f1f1;
  }

  .navbar-menu.active {
    right: 0;
  }

  .menu-toggler.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 4px;
  }

  .menu-toggler.active span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggler.active span:nth-child(3) {
    transform: rotate(45deg);
    bottom: 14px;
  }

  /* Home */
  .home .content h1 {
    font-size: 3.5rem;
  }

  .home .content a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 768px) {
  .home .content h1 {
    font-size: 3rem;
  }

  .home .content a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 480px) {
  .home .content h1 {
    font-size: 2.5rem;
  }

  .home .content a {
    font-size: 1.2rem;
  }
}
/* End  Media Query */
